@competencegroup:registry=https://pkgs.dev.azure.com/sdbayton/SDB/_packaging/SDB_Learning/npm/registry/
@sdblearning:registry=https://pkgs.dev.azure.com/sdbayton/SDB/_packaging/SDB_Learning/npm/registry/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=1E478BCC-87DD-4D6D-B468-B0AF8FAE3829
registry=https://registry.npmjs.org/

always-auth=true

